$color-base: #333;
$color-hover: #999;
// ページ全体の横幅
$width-base: 930px;
// ベースフォント
$font-base: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
// 背景透明度
$opacity: .8;
// アニメーションの秒数
$transition: .3s;

