.haer-grid-container{
    $this: &;
    width: 960px;
    @include clearfix;
    margin-left: -15px;
    margin-right: -15px;
    &-small{
        padding: 0 114px;
    }
    img{
        width: 100%;
        vertical-align: top;
    }
    .haer-grid-item{
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        // 二分割
        &-col6{
            width: 50%;
            &:nth-child(2n){
                margin-right: 0;
            }
            &:nth-child(2n+1){
                clear: both;
            }
            &:nth-child(n+3){
                margin-top: 30px;
            }
        }
        // 三分割
        &-col4{
            width: calc(100% / 3);
            &:nth-child(3n){
                margin-right: 0;
            }
            &:nth-child(3n+1){
                clear: both;
            }
            &:nth-child(n+4){
                margin-top: 30px;
            }
        }
    }
}
