.haer-link {
    &-block{
        display: block;
        background: #000;
        img{
            opacity: 1;
            transition: $transition;
        }
        &:hover{
            img{
                opacity: 0.8;
            }
        }
    }
    &-blank{
        &::after{
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 15px;
            height: 15px;
            margin-left: 5px;
            background: url(./../img/icon_window.png) center center no-repeat;
            background-size: 100%;
        }
    }
}
