
// frame
.haer-top-content{
    position: relative;
    img{
        width: 100%;
    }
    a,span{
        display: block;
        &::after{
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            display: block;
            width: 100%;
            height: 100%;
        }
    }
    &#haer-mainvisual{
        padding: 10px 8px;
        a::after,span{
            background: url(./../img/frame_01.png) center top no-repeat;
            background-size: 100% 100%;
        }
    }
    &#haer-top-about{
        a::after,span{
            background: url(./../img/frame_02.png) center top no-repeat;
            background-size: 100% 100%;
        }
    }
    &#haer-top-magazine{
        a::after,span{
            background: url(./../img/frame_03.png) center top no-repeat;
            background-size: 100% 100%;
        }
    }
    &#haer-top-gallery{
        a::after,span{
            background: url(./../img/frame_04.png) center top no-repeat;
            background-size: 100% 100%;
        }
    }
    &#haer-top-shop{
        a::after,span{
            background: url(./../img/frame_05.png) center top no-repeat;
            background-size: 100% 100%;
        }
    }
    &#haer-top-blog{
        a::after,span{
            background: url(./../img/frame_06.png) center top no-repeat;
            background-size: 100% 100%;
        }
    }
    .haer-caption{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        color: #fff;
        dl{
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 60px 35px 30px;
        }
        dt{
            font-weight: bold;
            @include font-size(25)
            line-height: 1.3;
        }
    }
    &:hover{
        background: #000;
        transition: $transition;
        .haer-caption{
            text-shadow: 1px 1px 8px rgba(255,255,255,0.9);
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.3) 90%,rgba(0,0,0,0.3) 100%); 
        }
    }
}

.js-accordion{
    cursor: pointer;
    img{
        opacity: 1;
        transition: $transition;
    }
    &:hover{
        img{
            opacity: $opacity;
        }
    }
}



