@charset "UTF-8";
/* clearfix */
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/* 
html5doctor.com Reset Stylesheet
v1.6
Last Updated: 2010-08-18
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted inherit;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  vertical-align: bottom;
}

html, body, .haer-wrapper {
  width: 100%;
  height: 100%;
}

html {
  overflow-y: scroll;
  font-size: 62.5%;
}

body {
  min-width: 930px;
  line-height: 1.8;
  color: #333;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "ＭＳ 明朝", serif;
  font-size: 15px;
  font-size: 1.5rem;
  background-color: #fff;
}

.haer-wrapper {
  position: relative;
}

a {
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  color: #333;
}

a img {
  opacity: 1;
  transition: .3s;
}

a:hover {
  color: #999;
}

a:hover img {
  opacity: 0.8;
}

em {
  font-style: normal;
  font-weight: bold;
}

/* 右クリック禁止 */
img {
  pointer-events: none;
  touch-callout: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-touch-callout: none;
  -moz-user-select: none;
}

.haer-view-01 {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #fff url(./../img/img_01.jpg) center center no-repeat;
  background-size: cover;
  cursor: pointer;
  opacity: 1;
  transition: .3s;
}

.haer-view-01:hover {
  opacity: .8;
}

.haer-view-02 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.haer-u-tac {
  text-align: center;
}

header {
  background-color: rgba(255, 255, 255, 0.8);
  width: 100%;
}

header a {
  text-decoration: none;
}

header .haer-header-inner {
  width: 930px;
  margin: 0 auto;
}

header .haer-logo {
  padding: 15px 0;
  text-align: center;
  font-weight: bold;
  line-height: 1;
}

header .haer-logo img {
  width: 100%;
  transition: .3s;
}

header .haer-nav-global {
  padding-bottom: 15px;
  font-size: 18px;
  font-size: 1.8rem;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

header .haer-nav-global ul {
  width: 100%;
  text-align: center;
}

header .haer-nav-global ul li {
  display: inline-block;
}

header .haer-nav-global ul li a {
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  backface-visibility: hidden;
  position: relative;
  overflow: hidden;
  margin: 0 15px;
  padding: 0 15px;
}

header .haer-nav-global ul li a::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #999;
  height: 1px;
  transition-property: left, right;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}

header .haer-nav-global ul li a.is-current::before, header .haer-nav-global ul li a:hover::before, header .haer-nav-global ul li a:focus::before, header .haer-nav-global ul li a:active::before {
  left: 0;
  right: 0;
}

header.is-small {
  position: fixed;
  z-index: 10;
}

header.is-small .haer-header-inner {
  position: relative;
}

header.is-small .haer-logo img {
  width: 70%;
}

header.is-small .haer-nav-global {
  position: absolute;
  z-index: 10;
  width: 100%;
  left: 0;
  opacity: 0;
  top: 100%;
  visibility: hidden;
  transition: .3s;
}

header.is-small .haer-nav-global:hover {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

header.is-small .haer-logo:hover + .haer-nav-global {
  top: 100%;
  opacity: 1;
  visibility: visible;
}

header.is-small + .haer-main {
  padding-top: 82px;
}

footer {
  padding: 30px 0 15px;
  text-align: center;
}

footer .haer-copylight {
  font-size: 12px;
}

.haer-footer-inner {
  width: 930px;
  margin: 0 auto;
}

.haer-main:not(#haer-page-top) {
  margin-top: 15px;
}

.haer-main-inner {
  width: 930px;
  margin: 0 auto;
}

.haer-container + * {
  margin-top: 30px;
}

.haer-container-small + * {
  margin-top: 15px;
}

.haer-container-large + * {
  margin-top: 60px;
}

.haer-grid-container {
  width: 960px;
  *zoom: 1;
  margin-left: -15px;
  margin-right: -15px;
}

.haer-grid-container:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.haer-grid-container-small {
  padding: 0 100px;
}

.haer-grid-container img {
  width: 100%;
  vertical-align: top;
}

.haer-grid-container .haer-grid-item {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.haer-grid-container .haer-grid-item-col6 {
  width: 50%;
}

.haer-grid-container .haer-grid-item-col6:nth-child(2n) {
  margin-right: 0;
}

.haer-grid-container .haer-grid-item-col6:nth-child(2n+1) {
  clear: both;
}

.haer-grid-container .haer-grid-item-col6:nth-child(n+3) {
  margin-top: 30px;
}

.haer-grid-container .haer-grid-item-col4 {
  width: 33.333333%;
}

.haer-grid-container .haer-grid-item-col4:nth-child(3n) {
  margin-right: 0;
}

.haer-grid-container .haer-grid-item-col4:nth-child(3n+1) {
  clear: both;
}

.haer-grid-container .haer-grid-item-col4:nth-child(n+4) {
  margin-top: 30px;
}

.haer-heading {
  text-align: center;
  font-weight: bold;
}

.haer-heading + * {
  margin-top: 15px;
}

.haer-heading-lv1 {
  font-size: 42px;
  font-size: 4.2rem;
}

.haer-heading-lv2 {
  font-size: 30px;
  font-size: 3rem;
}

.haer-heading-lv3 {
  font-size: 20px;
  font-size: 2rem;
}

.haer-heading-lv3 + * {
  margin-top: 0;
}

.haer-heading-archive {
  text-align: left;
  text-align: center;
}

.haer-heading-archive p {
  font-size: 12px;
  font-size: 1.2rem;
}

.haer-heading-archive dl {
  font-size: 15px;
  font-size: 1.5rem;
}

.haer-heading-archive dl dt, .haer-heading-archive dl dd {
  display: inline;
}

.haer-heading-archive dl dd::before {
  content: "/";
  margin: 0 .5em;
}

.haer-icon-share {
  text-align: center;
}

.haer-icon-share li {
  overflow: hidden;
  list-style: none;
  display: inline;
  margin: 15px;
}

.haer-icon-share li img {
  border-radius: 50%;
}

.haer-link-block {
  text-decoration: none;
}

.haer-media {
  display: table;
  *zoom: 1;
}

.haer-media:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.haer-media > * {
  display: table-cell;
  vertical-align: top;
}

.haer-media-left {
  padding-right: 30px;
}

.haer-media-right {
  padding-left: 30px;
}

.haer-media-text p + p {
  margin-top: 12px;
}

.haer-media-text dt {
  font-size: 18px;
  font-size: 1.8rem;
  font-weight: bold;
}

.haer-media-text dd {
  margin-top: 12px;
}

.haer-read {
  text-align: center;
}

.haer-read + .haer-read {
  margin-top: 12px;
}

.haer-thumb-archive a {
  height: 100px;
  overflow: hidden;
}

.haer-thumb-archive img {
  margin-top: -100px;
}

.haer-top-content {
  position: relative;
}

.haer-top-content img {
  width: 100%;
}

.haer-top-content a, .haer-top-content span {
  display: block;
}

.haer-top-content a::after, .haer-top-content span::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
}

.haer-top-content#haer-mainvisual a::after, .haer-top-content#haer-mainvisual span {
  background: url(./../img/frame_01.png) center top no-repeat;
  background-size: 100% 100%;
}

.haer-top-content#haer-top-about a::after, .haer-top-content#haer-top-about span {
  background: url(./../img/frame_02.png) center top no-repeat;
  background-size: 100% 100%;
}

.haer-top-content#haer-top-magazine a::after, .haer-top-content#haer-top-magazine span {
  background: url(./../img/frame_03.png) center top no-repeat;
  background-size: 100% 100%;
}

.haer-top-content#haer-top-gallery a::after, .haer-top-content#haer-top-gallery span {
  background: url(./../img/frame_04.png) center top no-repeat;
  background-size: 100% 100%;
}

.haer-top-content#haer-top-shop a::after, .haer-top-content#haer-top-shop span {
  background: url(./../img/frame_05.png) center top no-repeat;
  background-size: 100% 100%;
}

.haer-top-content#haer-top-blog a::after, .haer-top-content#haer-top-blog span {
  background: url(./../img/frame_06.png) center top no-repeat;
  background-size: 100% 100%;
}

.haer-top-content .haer-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
}

.haer-top-content .haer-caption dl {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 60px 35px 30px;
}

.haer-top-content .haer-caption dt {
  font-weight: bold;
  font-size: 25px;
  font-size: 2.5rem;
  line-height: 1.3;
}

.haer-top-content:hover {
  background: #000;
  transition: 0.3s;
}

.haer-top-content:hover .haer-caption {
  text-shadow: 1px 1px 8px rgba(255, 255, 255, 0.9);
  background: linear-gradient(to bottom, transparent 0%, transparent 1%, rgba(0, 0, 0, 0.3) 90%, rgba(0, 0, 0, 0.3) 100%);
}

.js-accordion {
  cursor: pointer;
}

.js-accordion img {
  opacity: 1;
  transition: 0.3s;
}

.js-accordion:hover img {
  opacity: 0.8;
}
