html, body, .haer-wrapper {
    width: 100%;
    height: 100%;
}

html {
    overflow-y: scroll;
    font-size: 62.5%;
}

body {
        min-width: $width-base;
        line-height: 1.8;
        color: $color-base;
        font-family: $font-base;
        @include font-size(15);
        background-color: #fff;
}

.haer-wrapper{
    position: relative;
}

a {
    display: inline-block;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    color: $color-base;
    img{
        opacity: 1;
    }
    &:hover {
        text-decoration: none;
        color: $color-hover;
        img{
            opacity: 0.8;
        }
    }
}

em{
    font-style: normal;
    font-weight: bold;
}

/* 右クリック禁止 */
img{
    pointer-events:none;// ドラッグして保存しない
    touch-callout:none;// スマホで長押しメニューをださない
    user-select:none;// 選択対象にしない
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-touch-callout:none;
    -moz-user-select:none;
}

.haer-view-01{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index:2;
    width: 100%;
    height: 100%;
    background: #fff url(./../img/img_01.jpg) center center no-repeat;
    background-size: cover;
    cursor: pointer;
    opacity: 1;
    transition: .3s;
    &:hover{
        opacity: .8;
    }
}
.haer-view-02{
    position: absolute;
    top: 0;
    left: 0;
    z-index:1;
    width: 100%;
}
